@model IEnumerable<Aklasa.Models.Transfer>

@{
    ViewData["Title"] = "Index";
}

<h1>Transfery</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Dodaj transfer</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zawodnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DruzynaOd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DruzynaDo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataTransferu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Zawodnik.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DruzynaOd.NazwaKlubu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DruzynaDo.NazwaKlubu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataTransferu)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdTransferu">Szczegóły</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Edit" asp-route-id="@item.IdTransferu">Edytuj</a> 
                    <a asp-action="Delete" asp-route-id="@item.IdTransferu">Usuń</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
