@model Aklasa.Models.Druzyna

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuń</h1>

<h3>Czy na pewno chcesz usunąć?</h3>
<div>
    <h4>Drużyna</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazwaKlubu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazwaKlubu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IloscMeczy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IloscMeczy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IloscZwyciestw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IloscZwyciestw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IloscRemisow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IloscRemisow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IloscPorazek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IloscPorazek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BramkiZdobyte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BramkiZdobyte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BramkiStracone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BramkiStracone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BilansBramkowy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BilansBramkowy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Punkty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Punkty)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDruzyny" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć do listy</a>
    </form>
</div>
