@model IEnumerable<Aklasa.Models.Mecz>

@{
    ViewData["Title"] = "Index";
}

<h1>Mecze</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Dodaj mecz</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gospodarz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gosc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BramkiGospodarzy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BramkiGosci)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataMeczu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gospodarz.NazwaKlubu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gosc.NazwaKlubu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BramkiGospodarzy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BramkiGosci)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataMeczu)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdMeczu">Szczegóły</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Edit" asp-route-id="@item.IdMeczu">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@item.IdMeczu">Usuń</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
